.App {
  font-family: sans-serif;
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: auto;
  color: white;
}
body {
  background-color: black;
  padding: 0.5rem;
}

.genrelist {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  flex-wrap: wrap;
  margin-left: -1.25rem;
}
.genrelist li {
  padding: 0.5rem 1.2rem;
}
.outputlist {
  list-style: none;
  padding-inline-start: 0;
}
.outputlist li {
  border: 1px solid white;
  display: flex;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

button {
  border-radius: 1rem;
  background-color: blue;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
.animeposters {
  min-height: 150px;
  width: 100px;
  padding: 1rem;
}
button :hover{
 
}

footer{

text-align: center;
padding: 2rem;
}
.social-icon{
  height: 2rem;
  width: 2rem;
  background-color: rgb(4, 0, 255);
  border-radius: 50%;
  
}